@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Itim&family=Pacifico&family=Permanent+Marker&family=Zen+Kurenaido&display=swap');
*{
/* overflow: hidden; */
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}